* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    background-color: darkred;
    color: blanchedalmond;
    padding: 20px;

}

h1 {
    text-align: center;
}

h1 > span {
    font-size: 20px;
    margin:  0px 120px;
}

.informationContainer {
    align-items: flex-start;
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    padding-bottom: 25px;
}